p,
h1,
h2,
h3,
h4,
h5,
div {
    font-family: sans-serif;
    margin: 0;
}

body {
    *::selection {
        color: #fff;
        background: #19ad7b;
    }
    /* For Mozilla Firefox */
    *::-moz-selection {
        color: #fff;
        background: #19ad7b;
    }
    ::-webkit-scrollbar {
        width: 6px !important; /* Set your desired width */
        height: 6px !important;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #19ad7b !important; /* Set your desired thumb color */
        cursor: pointer !important;
    }
}
::-webkit-scrollbar {
    width: 6px !important; /* Set your desired width */
    height: 6px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #19ad7b !important; /* Set your desired thumb color */
    cursor: pointer !important;
}

h5 {
    font-size: 18px;
}
.btn-success {
    background-color: #19ad7b !important;
}
.header4 {
    font-weight: 600;
}
.contain {
    padding: 10px 20px;
    @media (max-width: 768px) {
        padding: 10px;
    }
}

.box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
}

.card {
    margin: 10px;
}

.block-border {
    border-radius: 8px;
}
i {
    cursor: pointer;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}
input,
textarea {
    padding: 7px 14px;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    transition: all 0.2s linear;

    &:hover {
        border: 1px solid #898989;
    }

    &:focus,
    &:focus-visible {
        box-shadow: 0px 2px 6px rgba(4, 119, 81, 0.3);
        border: 1px solid #19ad7b;
        border-radius: 6px;
        outline: 0;

        + label {
            color: #19ad7b;
        }
        &::placeholder {
            padding-left: 4px;
        }
    }
    &::placeholder {
        color: #c5c5c5;
        font-size: 15px;
        transition: all 0.2s linear;
    }
}

hr {
    margin: 1.5rem 0;
}
